body{
    padding: 0;
    margin: 0;
}
root{
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
}
.welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #3af3ff;
    width: 100%;
    min-height: 100vh;
}
.toolbar{
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 7vh;
    background: white;

}
.button{
    margin-right: 2vw;
    display: flex;
    color: lightblue;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;

}

.button:hover{
    color: #2cccff;
    border: none;
    outline: none;
    background: none;
}

.button:active{
    color: #2cccff;
    border: none;
    outline: none;
    background: none;
}

.banner{
    width: 100%;
    margin: 0 auto auto;
    align-self: center;
    flex-direction: column;
    display: flex;

}
.heading{
    align-self: center;
    flex-direction: column;
    font-family: cursive;
    font-weight: lighter;
    font-size: 4rem;
    margin-top: 4vw;
    color: white;

}
.heading2{
    margin: 0;
    align-self: center;
    flex-direction: column;
    font-family: cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: white;
}
.image{
    display: flex;
    align-items: center;
    margin: 20vh auto 0;

}
.profile_image{
    align-self: auto;
    width: 20vw;
    height: 20vw;
}
.about_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: #f9f2ec;
}

.about_heading{
    padding: 4vw;
    align-items: center;
}
.hai_heading{
    margin: auto;
    font-family: Roboto, monospace;
    font-size: 4em;;
    color: #2cccff;
}
.intro_div{
    padding-bottom: 5vw;
}
.intro_heading{
    font-size: 2rem;
    color: #6a635e;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
}

.pros_cons_div{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4vw;
}

.habbits_div{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border: 0.2vh solid #2cccff;
    box-shadow: 0.5vw -0.5vw 4vw  #3af3ff;
    width: 20vw;
    min-height: 20vw;
}

.pros_div{
    align-self: flex-start;
    flex-direction: column;
    margin: auto 4vw;
    display: flex;
    border: 0.2vh solid #2cccff;
    box-shadow: 0.5vw -0.5vw 4vw  #3af3ff;
    width: 20vw;
    min-height: 20vw;


}

.cons_div{
    align-self: flex-start;
    flex-direction: column;
    margin: 0 auto auto;
    display: flex;
    border: 0.2vh solid #2cccff;
    box-shadow: 0.5vw -0.5vw 4vw  #3af3ff;
    width: 20vw;
    min-height: 20vw;

}

.pros_cons_habbits_div_heading{
    border: 0.2vh solid #2cccff;
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 12%;
    background: #2cccff;
}

.pros_cons_habbits_heading_style{
    margin: auto;
    font-family: Roboto, monospace;
    font-weight: lighter;
    align-self:center;
    color: white;
    font-size: 1.5em;
}

.pros_cons_div_text{
    padding-right: 1vw;
    font-family: Roboto, serif;
    font-weight: bolder;
    color: #6a635e;
    word-spacing: 0.5vw;

}
li{
    margin-bottom: 1vw;
}
@media only screen and (max-width: 320px){
    .heading{
        font-size: 3rem;
        margin-top: 4vw;
    }
    .hai_heading{
        font-size: 2rem;
    }
    .intro_heading{
        font-size: 1.2rem;
        text-align: center;
    }

    .pros_cons_habbits_heading_style{
        font-size: 1rem;
    }
    .pros_cons_div{
        flex-direction: column;
    }
    .habbits_div{
        order: 2;
        width: 90vw;
        margin-top: 10vw;
        align-self: center;
    }
    .pros_div{
        width: 90vw;
        margin-top: 10vw;
    }
    .cons_div{
        order: 1;
        width: 90vw;
        margin-top: 10vw;

    }



    .profile_image{
        align-self: auto;
        width: 50vw;
        height: 50vw;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px){
    .heading{
        font-size: 3rem;
        margin-top: 4vw;
    }
    .intro_div{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .hai_heading{
        font-size: 2rem;
    }
    .intro_heading{
        font-size: 1.5rem;
        text-align: center;
    }

    .pros_cons_habbits_heading_style{
        font-size: 1rem;
    }
    .pros_cons_div{
        flex-direction: column;
    }
    .habbits_div{
        order: 2;
        width: 90vw;
        margin-top: 10vw;
        align-self: center;
    }
    .pros_div{
        width: 90vw;
        align-self: center;
        margin-top: 11vw;

    }
    .cons_div{
        order: 1;
        width: 90vw;
        margin-top: 10vw;
        align-self: center;

    }

    .profile_image{
        align-self: auto;
        width: 50vw;
        height: 50vw;
    }
}
@media only screen and (min-width: 481px) and (max-width: 699px) {

    .profile_image{
        align-self: auto;
        width: 40vw;
        height: 40vw;
    }

    .pros_cons_div{
        flex-direction: column;
    }
    .habbits_div{
        order: 2;
        width: 60vw;
        margin-top: 1vw;
        margin-bottom: 4vw;
        align-self: center;
    }
    .pros_div{
        width: 60vw;
        margin-top: 1vw;
        margin-left: 4vw;
        margin-bottom: 4vw;
    }
    .cons_div{
        order: 1;
        width: 60vw;
        margin-top: 1vw;
        margin-bottom: 4vw;
        align-self: center;

    }
}
@media only screen and (min-width: 700px) and (max-width: 1025px){
    .heading{
        font-size: 4rem;
        margin-top: 4vw;
    }
    .intro_heading{
        font-size: 2rem;

    }
    .pros_cons_habbits_heading_style{
        font-size: 1.5rem;
    }
    .pros_div{
        width: 30vw;
        min-height: 40vw;
    }
    .cons_div{
        width: 30vw;
        min-height: 40vw;
    }
    .habbits_div{
        width: 30vw;
        min-height: 40vw;
    }
    .button{
        font-size: 1.4rem;
    }

    .profile_image{
        align-self: auto;
        width: 30vw;
        height: 30vw;
    }
    .pros_cons_div_text{
        font-size: 1.3em;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
    .heading{
        font-size: 5rem;

    }
    .button{
        font-size: 1.5rem;
    }
    .toolbar{
        height: 7vh;
    }
    .profile_image{
        align-self: auto;
        width: 20vw;
        height: 20vw;
    }
    .pros_cons_div_text{
        font-size: 1.2rem;
    }
    .pros_cons_habbits_heading_style{
        font-size: 2rem;
    }
}

@media only screen and (max-height: 415px){
    .heading{
        font-size: 2rem;

    }
    .button{
        font-size: 1rem;
    }
    .toolbar{
        height: 10vh;
    }
    .profile_image{
        align-self: auto;
        width: 20vw;
        height: 20vw;
    }

}

@media only screen and (min-height: 1025px) and (max-height: 1366px) {
    .heading{
        font-size: 4rem;

    }
    .button{
        font-size: 2rem;
    }
    .toolbar{
        height: 7vh;
    }
    .profile_image{
        align-self: auto;
        width: 40vw;
        height: 40vw;
    }
    .pros_cons_div_text{
        font-size: 1.5rem;
    }
    .pros_cons_habbits_heading_style{
        font-size: 2rem;
    }
}


h1{
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}